@import "tailwindcss";


:root {}


@theme {
    --font-lobster: 'Lobster', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-a: #E7FAFE;
    --shadow-1: 15px 15px 15px 5px rgba(0, 0, 0, 0.05);  
    --radius-5xl: 50px; 
                          
}